*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines what 1rem is: 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  background-color:aliceblue;
}

:root {
  --font-color: #fff;
  --main-bg-color: #000;
  --correct-bg-color: #008000;
  --wrong-bg-color: #ff0000;
}

.card {
  height: 62rem;
  width: 58rem;
  background-color: var(--main-bg-color);
}

.money-part {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: 900;
  background-color: #350676;
  color: var(--font-color);
}

.question-part {
  height: 6rem;
  color: var(--font-color);
  padding-top: 1.5rem;
  padding-left: 1rem;
  font-size: 2.4rem;
}

.answers-part {
  color: var(--font-color);
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul {
  list-style: none;
}

li {
  background-color: #333333;
  padding: 1rem;
  margin-top: 1rem;
}

li:hover {
  background-color: #387bb9;
  cursor: pointer;
}

li:active {
  background-color: #387bb9; 
  transform: translateY(0.3rem);
} 

.counter-part {
  color: var(--font-color);
  padding-top: 1.7rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}

.correct-answer {
  background-color: var(--correct-bg-color);
  pointer-events: none;

  /* transition-duration: 1s;
  transition-property: var(--correct-bg-color); */
}

.wrong-answer {
  background-color: var(--wrong-bg-color);
  pointer-events: none;
}



