*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines what 1rem is: 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-size: 2.5rem;
  background-color:aliceblue;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
}